<footer class="footer">
  <div class="footer__div footer__div--primary">
    <section class="footer__div">
      <h1 class="footer__title">ENLACES DE INTERÉS</h1>
      <div class="footer__icon">

        <div class="footer__icon footer__icon--solid" id="icono-hobby">
          <a href="https://github.com/DavidCornejoB?tab=repositories" class="fa-brands fa-github"></a>
        </div>
        <div class="footer__icon footer__icon--solid" id="icono-hobby">
          <a href="https://www.linkedin.com/in/david-cornejo-bravo-0a0054261/" class="fa-brands fa-linkedin"></a>
        </div>
        <div class="footer__icon footer__icon--solid" id="icono-hobby">
          <a href="https://www.facebook.com/davidcornejob24/" class="fa-brands fa-facebook"></a>
        </div>
        <div class="footer__icon footer__icon--solid" id="icono-hobby">
          <a href="https://www.instagram.com/davidcornejo3/" class="fa-brands fa-instagram"></a>
        </div>
        <div class="footer__icon footer__icon--solid" id="icono-hobby">
          <a href="https://www.tiktok.com/@mossberg98" class="fa-brands fa-tiktok"></a>
        </div>
        <div class="footer__icon footer__icon--solid" id="icono-hobby">
          <a href="https://open.spotify.com/user/monsterberg?si=6747a1ed49264a4a" class="fa-brands fa-spotify"></a>
        </div>

      </div>
    </section>

    <section class="footer__div">
      <h1 class="footer__title">MIS CONTACTOS</h1>
      <div class="footer__contact">
        <h2>Gmail:</h2>
        <p>luisdavidcorbra24@gmail.com</p>
      </div>

      <div class="footer__contact">
        <h2>Outlook:</h2>
        <p>luisdavidcorbra24@hotmail.com</p>
      </div>

      <div class="footer__contact">
        <h2>Teléfono:</h2>
        <p>+593 988372173</p>
      </div>
    </section>
  </div>


  <div class="footer__div footer__div--secondary">
    <p>Desarrollado por: Luis David Cornejo B. &copy; Copyright</p>
  </div>

</footer>
