<header>
  <nav class="cabecera">
    <a href="#" class="logo">David Cornejo B</a>
    <!-- LISTA DE TODAS LAS SECCIONES-->
    <ul class="container-navbar">
      <li class="background-li"><a href="#home" class="nav-menu-link">INICIO</a></li>
      <li class="background-li"><a href="#about" class="nav-menu-link">ACERCA DE</a></li>
      <li class="background-li"><a href="#projects" class="nav-menu-link">PROYECTOS</a></li>
      <li class="background-li"><a href="#skills" class="nav-menu-link">HABILIDADES</a></li>
      <li class="background-li"><a href="#hobbies" class="nav-menu-link">HOBBIES</a></li>
    </ul>
  </nav>
</header>

