<div class="footer__icon">
  <div class="footer__icon footer__icon--solid" id="icono-hobby">
    <a href="https://github.com/DavidCornejoB?tab=repositories" class="fa-brands fa-github"></a>
  </div>
  <div class="footer__icon footer__icon--solid" id="icono-hobby">
    <a href="https://www.linkedin.com/in/david-cornejo-bravo-0a0054261/" class="fa-brands fa-linkedin"></a>
  </div>
  <div class="footer__icon footer__icon--solid" id="icono-hobby">
    <a href="https://www.facebook.com/davidcornejob24/" class="fa-brands fa-facebook"></a>
  </div>
  <div class="footer__icon footer__icon--solid" id="icono-hobby">
    <a href="https://www.instagram.com/davidcornejo3/" class="fa-brands fa-instagram"></a>
  </div>
  <div class="footer__icon footer__icon--solid" id="icono-hobby">
    <a href="https://www.tiktok.com/@mossberg98" class="fa-brands fa-tiktok"></a>
  </div>
  <div class="footer__icon footer__icon--solid" id="icono-hobby">
    <a href="https://open.spotify.com/user/monsterberg?si=6747a1ed49264a4a" class="fa-brands fa-spotify"></a>
  </div>
</div>
