
.main-section{
  display: flex;
  flex-direction: column;
  background-color: rgb(36, 39, 38);
  place-content: center;
}

.titulo-section{
  padding: 50px;
  color: aliceblue;
  text-align: center;
  font-size: x-large;
  z-index: 5;

}

.contenedor-tarjetas{
  display: flex;
  place-content: center;

}

#tarjetas-proyectos{
  display: grid;
  grid-template-columns: repeat(2, 4fr);
  grid-auto-rows: max-content;
  margin: 20px;
}


 /* RESPONSIVE DESIGN */
 @media (max-width:1160px) {

  .contenedor-tarjetas{
     flex-direction: column;
  }

  #tarjetas-proyectos{
    display: flex;
    flex-direction: column;
 }
}
